body {
  font-size: 100%;
  font-family: sans-serif;
};

a {
  color: inherit;
  text-decoration: none;
}

.container{
  padding:30px;
}

.inputbox {
  width:50%;
  float:left;
}

.inputpane {
  overflow-y:scroll;
  width:80%;
  height:auto;
}

.markdown {
  width:50%;
  float:left;
}
